body{
    background-color: #000000
    justify-content: center;
    display: flex;
    align-items: center;
}

.men{
    justify-content: center;
    width: 80%;
    display: flex;
    align-items: center;
}
