body{
    background-color: rgb(46, 46, 46);
    justify-content: center;
    display: flex;
    align-items: center;
}

.men{
    justify-content: center;
    width: 80%;
    display: flex;
    align-items: center;
}
